.notification{
    color:#9a9a9e;
    position: relative;
    top: 10px;
    transform: rotate(-36deg);
    margin-right: 5px;
    left: -10px;
}
span{
    font-size: 28px;
    color: red;
    position: relative;
    top: -19px;
    left: -9px;
    font-weight: bold;
}