.slide-content{
    margin-top:5px;
    margin-left: 7px;
  }

  .icon{
    background: #a5b0fb;
    width: 28px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    top: 5px;
    left: 5px;
  }
  
  .task-count{
    margin-top: 15px;
    font-size: 12px;
    margin-left: 5px;
    color:#fbfbfb;
  }
  
  .task-title{
    margin-top: 1px;
    font-size: 15px;
    margin-left: 5px;
    color:#fbfbfb;
    margin-bottom: 5px;
  }
  .content {
    width: 100px;
    position: relative;
    left: -7px;
    height: 49px !important;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    top: -5px;
    height: 40px;
  }
  
  .task-person-photo{
    position: relative;
    left: 4%;
    width: 95px;
    top: 18px;
  }

  .task-add{
    left: 66%;
    position: relative;
    background: #ceced652;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    width: 30px;
    top: -28px;
    height: 30px;
  }

  .task-add > span{
    border-radius: 50%;
    top: 5px;
    position: relative;
  }

  ul{
    list-style: none;
    display: flex;
    position: relative;
    left: -36%;
  }

  ul > li > img, ul > li > span{
    border-radius: 50%;
    width:20px;
    height:20px;
  }
  ul > li {
    width: 29px;
    margin-right: -15px;
  }
