<div class="slide-content"> 
    <div class="icon">
        <mat-icon aria-label="equalizer">equalizer</mat-icon>
    </div>
    <div class="task-count">
        <span>36 task</span>
    </div>
    <div class="task-title">
        <span>Dashboard</span>
    </div>
    <div class="content">
        <div class="task-person-photo">
            <ul>
                <li>
                    <img src="../../assets/image.jpg" >
                </li>
            </ul>
        </div>
        <div class="task-add tow">
            <span>+</span>
        </div>
    </div>
</div>