.navbar{
    height: auto;
    overflow: hidden;
    margin: 15px 18px 0 18px;
}
.menu{
  float: left;
  width: 73%;
}
.notification{
  float: left;
  
}
.photo{
  float: left;
  width: 13%;
  margin: 0px -4px;
}