
<div class="task">
    <div class="title">
        <!-- <div class="project"> -->
            <span class="project">Task</span>
        <!-- </div> -->
        <!-- <div class="more-icon"> -->
          <span class="more-icon"><mat-icon aria-label="more_horiz">more_horiz</mat-icon></span>
        <!-- </div> -->
    </div>
</div>

<!-- container which will contain our timeline -->
<div class="main-container">
    <!-- event 1st of timeline -->
    <div class="text-wrapper">
        <!-- all text content of timeline -->
        <div class="content">
            <h3>Ux member payment <span>10:20am</span></h3>
            <p>Google Product Design</p>
        </div>
    </div>
    <!-- event 1st of timeline -->
    <div class="text-wrapper">
        <!-- all text content of timeline -->
        <div class="content">
            <h3>Interview user flow<span>11:20am</span></h3>
            <p>Facebook user</p>
        </div>
    </div>
    <!-- event 1st of timeline -->
    <div class="text-wrapper">
        <!-- all text content of timeline -->
        <div class="content">
            <h3>Growth data analyst<span>14:20pm</span></h3>
            <p>Google Ux Team</p>
        </div>
    </div>
    <!-- event 1st of timeline -->
    <div class="text-wrapper">
        <!-- all text content of timeline -->
        <div class="content">
            <h3>Create new features <span>18:00pm</span></h3>
            <p>tesl services</p>
        </div>
    </div>
</div>
