<div class="calender">
   <div class="yearMonth">
       <span>October 2018</span>
        <mat-icon aria-label="icon">keyboard_arrow_down</mat-icon>
   </div> 
   <div class="days">
       <div class="day">
           <span>09</span>
           <span>Wed</span>
       </div>
       <div class="day">
           <span>10</span>
           <span>Thu</span>
       </div>
       <div class="day">
           <span>11</span>
           <span>Fri</span>
       </div>
       <div class="day">
           <span>12</span>
           <span>Sat</span>
       </div>
   </div> 
</div>

<div class="task">

</div>
