<div class="tabs">
    <div>
        <button class="tabLinks">Today</button>
        <div class="line1"></div>
    </div>
    <div>
        <button class="tabLinks">Week</button>
        <div class="line2"></div>
    </div>
    <div>
        <button class="tabLinks">Month</button>
        <div class="line3"></div>
    </div>
    
</div>


<div class="tabContent">
    <div class="icon">
        <mat-icon aria-label="check_circleon">check_circle</mat-icon>
    </div>
    <div class="content">
        <span class="content-top">UX member payment</span>
        <span class="time">10:20 am</span>
    </div>
    <div class="content">
        <span class="content-bottom">Google Product Design</span>
    </div>
    
</div>
