.tabs {
    width: 200px;
    overflow: hidden;
    border: 1px solid #ffffff00;
    display: flex;
}

button.tabLinks {
    width: 100%;
    outline: none;
    padding: 5px 16px;
    border: 0;
    background: #ff000000;
    margin: 0px 2px;
}

button.tabLinks:hover {
    font-weight: bold;
    // text-decoration-line: underline;
    // text-decoration-color: #e91e63;
    // text-underline-position: under;

}
.line1{
    width: 19px;
    border-bottom: 2px solid red;
    /* top: 83%; */
    /* left: 11%; */
    margin: 0px 21px;
}

.tabContent{

}

.tabContent{
    position: relative;
    top: 5px;
    left: 5%;
    margin-top: 9px;
}
.tabContent > .icon{
    color: #33bb38;
}
.content{
    position: relative;
    top: -27px;
    left: 36px;
}
span.time {
    margin-left: 19px;
}
span.content-top {
    font-size: 18px;
}

span.content-bottom {
    position: relative;
    top: 3px;
}