*{
  box-sizing: border-box;
}
.row{
  margin: 13px 13px;
}
.navbar{
    height: auto;
    overflow: hidden;
    // margin-top: 33px;
}
.navbar .menu{
  float: left;
  width: 73%;
}
.navbar .notification{
  float: left;
  
}
.navbar .photo{
  float: left;
  width: 13%;
  margin: 0px -4px;
}
.colorful{
  width: 100%;
  background: #7a87fa;
  height: 100%;
  
}
