<div>
    <div class="title">
        <div class="project">
            <span>Project</span>
        </div>
        <div class="more-icon">
           <mat-icon aria-label="more_horiz">more_horiz</mat-icon>
        </div>
    </div>

    <div class="slider">
        <div class="slide one">
           <div class="slide-content"> 
                <div class="task-icon">
                    <mat-icon aria-label="more_horiz">phone_iphone</mat-icon>
                </div>
                <div class="task-count">
                    <span>24 task</span>
                </div>
                <div class="task-title">
                    <span>App Design</span>
                </div>
                <div class="test">
                    <div class="task-person-photo">
                        <ul>
                            <li>
                                <img src="../../assets/image.jpg" >
                            </li>
                            <li>
                                <img src="../../assets/image.jpg" >
                            </li>
                            <li class="task-more">
                                <span>4+</span>
                            </li>
                            <li class="task-add">
                                <span>+</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide tow">2</div>
        <div class="slide three">3</div>
    </div>

</div>