.title{
  width:100%;  
}
.title > div{
float: left;
}

.project{
  width:85%;
  font-size: 20px;
}
.more-icon{
  width:15%;
  color:#9e9e9e;
}
.slider {
    width: 100%;
    height: 140px;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 5px;
  }
  .slide {
    width: 100px;
    flex-shrink: 0;
    margin-left: 20px;
    border-radius: 15px;
    background: #7482fb;
  }
  .icon{
    background: #a5b0fb;
    width: 28px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    top: 5px;
    left: 5px;
  }
  .icon > mat-icon{
    position: relative;
    top: 3px;
    color:#dbe0fa;
  }